<style>
  #output {
    height: 400px;
    max-height: 400px;
    display: table-cell;
    vertical-align: bottom;
  }
</style>

<span id="room-name" data-room-name="<%= @name %>" />

<div class="row">
  <div class="col-lg-12">
    <video height="300" id="localVideo"></video>
    <div id="remotesVideos"></div>
</div>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
